/**
 * This CSS applies only to the home page (src/pages/index.js)
 */

.hero-banner {
    padding: 5rem 18%;
    font-size: 1.2rem;
    background-color: rgba(255, 94, 20, 0.8);
}



.page-body {
    margin: 50px 18%;
}

.family-header {
    display: flex;
    padding: 10px 8%;
    border-radius: 10px 10px 0px 0px;
    border: 2px solid #151515;
    background-color: #cccccc
}

[data-theme='dark'] .family-header {
    background-color: #303030;
}

.family-header-textbox {
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.family-header-imagebox {
    margin: 20px;
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.family-header-imagebox img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 10rem;
}

.family-body {
    display: flex;
    padding: 20px 8%;
    border-radius: 0px 0px 10px 10px;
    border: 2px solid #151515;
    border-top: 0px;
}

[data-theme='dark'] .family-body {
    background-color: #242424;
}

.family-body-section {
    flex: 1;
    margin-right: 20px;
}



/* Rotate ETH4K on Small Screens */
@media screen and (max-width: 480px) {
    .family-header-imagebox img {
        transform: rotate(-90deg);
    }
}



/* Mobile Screens */
@media screen and (max-width: 996px) {
    .hero-banner {
        padding: 5rem 8%;
    }
    
    .page-body {
        margin: 50px 8%;
    }

    .family-body {
        flex-direction: column;
    }
}
